.directory-canvas-container-copy {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.directory-canvas-copy {
  display: block;
  width: 285px;
  height: 55vh;
  box-sizing: border-box;
} 
