.directory-canvas-container {
  width: 100%;
  /* height: 60%; */
  position: relative;
  overflow: hidden; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.directory-canvas {
  display: block;
  width: 285px;
  height: 55vh;
  box-sizing: border-box;
  background-size: cover;
  background: center;
} 
