.invited-member-container {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  padding: 0.5vh 1vw 1.2vh 4vw;
}

.invited-member-circle {
  background-size: cover;
  background-position: center;
  width: 4.5vh;
  height: 4.5vh;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 2vw;
  border: 2px solid #c3c7f4;
}

.member-button {
  background-color: #c3c7f4;
  color: white;
  padding: 0.9vh 0;
  border: 2px solid #c3c7f4;
  border-radius: 10px;
  font-family: "pretendard-medium";
  width: 15vw;
  font-size: 3vw;
}

.cancel-button{
  background-color: white;
  color: #c3c7f4;
  padding: 0.9vh 0;
  border: 2px solid #c3c7f4;
  border-radius: 10px;
  font-family: "pretendard-medium";
  width: 15vw;
  font-size: 3vw;
}

.member-details{
  width: 60%;
}

.member-email {
  color: #D1D1D1;
  font-size: 3vw;
  font-family: "pretendard-regular";
}

.member-nickname {
  font-size: 3.2vw;
  font-family: "pretendard-medium";
}

.user-list-container {
  background-color: white;
  position: absolute;
  border-radius: 10px;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  border: 2px solid lightgray;
}

.user-list-container div:nth-child(3) {
  border-bottom: none;
}
