/* .img-frame-swiper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    transition: transform 0.3s ease;
    overflow: hidden;
  } */

.user-guide-frame {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 76%; /* 부모 요소에 맞게 height를 100%로 설정 */
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.user-photo {
  border-radius: 50%;
  width: 90%;
  height: 87%;
}

.guide-shot {
  width: 100%;
  height: 100%;
}

.guide-shot img {
  width: 100%;
  height: 85%;
  /* object-fit: cover; */
  border-radius: 10px;
}

/* .img-photo-name {
    font-family: "pretendard-regular";
    text-align: center;
    padding-top: 2.2vh;
    font-size: 3.7vw;} /* 폰트 크기 설정 */

/* 활성화된 슬라이드를 위로 띄우기 위한 스타일 */

.swiper-slide-active .user-guide-frame {
  transform: translateY(-20px);
}

/* 모든 슬라이드에 이동 애니메이션 추가 */
/* 스와이퍼css에 있는 기능 추가 */
.swiper-slide {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* 양 옆 사이드 투명도 조절하고, 크기 설정 */
.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.5;
  transform: scale(0.9);
}

/* 메인으로 보이는 swipe 투명도 1로 설정하고, 크기 설정(위로 띄우면 직사각형 모양 짤려서 0.9) */
.swiper-slide-active {
  z-index: 10;
  opacity: 1;
  transform: scale(0.9);
}
