.directory-item {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 25%;
  box-sizing: border-box;
}

/* Swiper 내에서는 100%로 설정 */
.swiper-slide .directory-item {
  width: 100%;
}

.directory-icon {
  width: 50%;
}

.directory-category-box {
  text-align: center;
  margin: 10% 0;
}

.directory-category {
  width: 10vw;
  height: 100%;
  /* Detail design */
  background-color: white;
  color: #f1bdec;
  border: 1px #f1bdec solid;
  padding: 3%;
  border-radius: 24.4px;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  align-content: center;
}

.directory-name-box {
  text-align: center;
}

.directory-name {
  color: #000;
  font-size: 12px;
}
