.change-nick-button {
  cursor: pointer;
  width: fit-content;
  height: 100%;
  background-color: #f1bdec;
  color: white;
  /* border: 0.2vh #888888 solid; */
  border-radius: 21px;
  font-size: 1.5vh;
  padding: 0.9vh 5.5vw;
  text-align: center;
  margin: 3vh auto 4vh;
  font-family: "pretendard-medium";
}

/* height: 25, border: */
/* border: 2px solid var(--Color3, #c3c7f4); */
