.profile-circle {
  background-size: "cover";
  background-position: "center";
  border-radius: 50%;
  border: 2px #f1bdec solid;
  overflow: hidden; /* 나중에 이미지 넣을 때 넘치는 부분 숨기기*/
}

.profile-icon{
  margin: auto;
  padding-left: 23.5vw;
  margin-top: -5.2vh;
}