.game-room-member-header {
  justify-content: flex-start;
  align-items: center;
  border-top: 0.2px solid #d9d9d9;
  border-bottom: 0.2px solid #d9d9d9;
  height: 10%;
}

.game-room-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.2vh 1vw;
  height: 80%;
}

.game-room-member-profile {
  width: 17%;
  border-radius: 50%;
  border: 1px solid black;
  margin: 1vh 0;
  object-fit: cover;
}

.game-room-member-nickname {
  font-weight: bold;
  font-size: 5%;
  text-align: center;
}

.speaking .game-room-member-profile {
  /* 말할때 나오는 테두리 */
  border-color: #c3c7f4;
  border-width: 0.5vw;
}
