.game-room-member-header {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 0.8vh 2vw 0vh 2vw;
}

.game-room-member-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.2vh 1vw 0 1vw;
}

.game-room-member-profile-circle {
  background-size: cover;
  background-position: center;
  width: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #d9d9d9;
}

.game-room-member-nickname {
  padding: 0.5vh 1vw 1vh 1vw;
  font-size: 1.6vb;
}

.game-room-member-profile-circle.speaking {
  /* 말할 때 나오는 테두리 */
  border-color: #c3c7f4;
  border-width: 0.5vw;
  border-style: solid;
}
