.board-select-size-progresss {
  /*  */
}

.board-select-size-title {
  /*  */
}

.board-select-size-button {
  /*  */
}

.board-select-size-button span {
  cursor: pointer;
}

.board-select-size-next {
  /*  */
}

.board-select-size-next span {
  position: absolute;
  z-index: 2;
}

#board-select-size-next-activate {
  cursor: pointer;
  z-index: 3;
}