.directory {
  width: 75px;
  height: 40%;
}

.directory-icon {
  width: 100%;
  height: 50%;
}

.directory-category-box {
  width: 100%;
  height: 25%;
}

.directory-category {
  width: 39px;
  height: 100%;
  /* Detail design */
  background-color: white;
  color: #F1BDEC;
  border: 1px #F1BDEC solid;
  padding: 3px;
  border-radius: 24.40px;
  font-size: 10px;
  font-weight: 600;
}

.directory-name-box {
  width: 100%;
  height: 25%;
  text-align: center;
}

.directory-name {
  color: #000;
  font-size: 12px;
}