.game-waiting-room-header {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 0.8vh 2vw 0vh 2vw;
}

.game-profile-circle {
  background-size: cover;
  background-position: center;
  width: 50%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
}

.game-profile-name {
  padding: 0.5vh 1vw 1vh 1vw;
  font-size: 1.6vb;
}

.game-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:1.2vh 1.5vw 0 1.5vw;
}

.king-icon {
  width: 6vw;
  height: 6vw;
  position: absolute;
  top: 82px;
}
