.header {
  display: flex;
  align-items: center;
  /* 임시 패딩 */
  padding: 20px 0px;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.header_prev {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 27.668px; /* 115.283% */
  width: 10%;
  /* font-size: 25px; */
  justify-content: flex-start;
}

.header_title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 27.668px; /* 115.283% */
  justify-content: center;
}

.header_icon {
  background-color: gray;
  justify-content: flex-end;
}
