.header {
  display: flex;
  align-items: center;
  padding: 20px 2px;
  border-bottom: 1px solid rgb(226, 226, 226);
  justify-content: space-between;
}

.header_left {
  display: flex;
  align-items: center;
}

.header_prev,
.header_title,
.header_icon {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 24px;
  font-weight: 600;
}

.header_prev {
  cursor: pointer;
}

.header_title {
  padding-left: 1rem;
}

.header_category {
  border-radius: 10px;
  text-align: center;
}

.header_icon {
  width: 20%;
  text-align: center;
  justify-content: flex-end;
}

.header_icon img {
  width: 24px; /* 텍스트 크기와 동일하게 설정 */
  height: 24px; /* 텍스트 크기와 동일하게 설정 */
}
