.header {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  padding: 1.5vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* ******************************************* */

.header-left {
  width: 80%;
  height: 100%;
}

.header-prev {
  width: 15%;
  height: 100%;
}

.header-prev div {
  font-size: 6vw;
  font-weight: 900;
}

.header-title {
  font-size: 5.2vw;
  font-weight: 900;
  margin-right: 2.8vw;
  margin-left: -1vw;
}

.header-category {
  background-color: #F1BDEC;
  color: #FFFFFF;
  padding: 1.2vw;
  border-radius: 15px;
  font-size: 3.4vw;
  width: 70px;
  text-align: center;
  margin-top: 0.5vw;
}

/* ******************************************* */

.header-icon {
  width: 15%;
  height: 100%;
}