.footer {
  width: 100%;
  padding: 1rem; /* 상대적 패딩 단위 사용 */
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10vh; /* 높이의 10% */
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 33%;
  margin: 0 1.5vw; /* 화면 너비 상대적 마진 */
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw; /* 화면 너비의 15%를 차지 */
  height: 5vh; /* 화면 높이의 5%를 차지 */
}

.icon {
  width: 2rem; /* 상대적 단위로 아이콘 크기 조정 */
  height: 2rem;
}

.footer-element {
  text-align: center;
  color: black;
  font-size: 0.875rem;
  font-weight: 400;
  white-space: nowrap;

}
