.footer {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  padding: 1.5vw;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.nav-item {
  cursor: pointer;
  width: 33%;
  height: 100%;
  margin: 0 1.5vw; /* 화면 너비 상대적 마진 */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.icon-container {
  width: 100%;
}

.icon {
  width: 20%;
  margin: auto;
}

.footer-element {
  text-align: center;
  color: black;
  font-size: 2vw;
}
