.mission {
  font-size: 3.5vw;
  flex-direction: row;
  align-items: center;
}

.mission span {
  width: 70vw;
  margin-right: 2vw;
  border: 2px solid #C3C7F4;
  border-radius: 9999px;
  padding: 1vh 4vw 1vh 5vw;
  white-space: normal;
  word-break: keep-all;
}

.mission img {
  cursor: pointer;
  width: 7vw;
}