.select-category-component-container {
  width: 25%;
  height: 100%;
  cursor: pointer;
}

.category-image-friend {
  background-image: url("https://frazzle208.s3.ap-northeast-2.amazonaws.com/img/friend01.png");
  background-size: cover;
  border-radius: 100%;
  width: 60%;
  aspect-ratio: 1 / 1;
  /* height: 60%라고 하면 width와 길이가 같아지는 것이 아니다. */
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.category-image-family {
  background-image: url("https://frazzle208.s3.ap-northeast-2.amazonaws.com/img/family01.png");
  background-size: cover;
  border-radius: 100%;
  width: 60%;
  aspect-ratio: 1 / 1;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.category-image-lover {
  background-image: url("https://frazzle208.s3.ap-northeast-2.amazonaws.com/img/lover01.png");
  background-size: cover;
  border-radius: 100%;
  width: 60%;
  aspect-ratio: 1 / 1;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.category-image-pet {
  background-image: url("https://frazzle208.s3.ap-northeast-2.amazonaws.com/img/pet01.png");
  background-size: cover;
  border-radius: 100%;
  width: 60%;
  aspect-ratio: 1 / 1;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.select-category-component-container span {
  font-size: 2vw;
  color: #888888;
  text-align: center;
}

.select-effect {
  border: 0.7vw solid #C3C7F4;
}