.select-photo-modal {
  width: 80vw;
  padding: 0.7vh 1vw;
  background: #ffffff;
  border: none;
  border-radius: 4vw; /* 15.6px in iphone14pro */
  height: 50vh;
}

.select-photo-modal-header {
  width: 100%;
  height: 14%;
  padding: 2vw 2vw 2vw 2vw; /* 7.8px in iphone14pro */
  box-shadow: 0 2px 4px rgba(238, 238, 238, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-photo-edit-icon {
  width: 4vw;
  margin-left: 3vw;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 100;
}

.select-photo-title {
  color: black;
  font-weight: bold;
  margin-left: 2vw;
}

.result-photo-modal-body {
  overflow: auto;
  width: 100%;
  height: 70%;
}

.result-photo-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vw;
  width: 30vw;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 1.1vh;
  border: 4px solid #000000;
}

.photo-img {
  height: 100%;
  width: 100%;
  border-radius: 7px;
  object-fit: cover;
}

.result-photo-button {
  background-color: #c3c7f4;
  border-radius: 10px;
  padding: 0.9vh;
  margin: 2.1vh auto;
  color: white;
  border: none;
  font-size: 3.5vw;
  text-align: center;
  width: 52%;
  font-family: "pretendard-bold";
}

.result-photo-button:disabled {
  background-color: #E7E7E7;
  color: #888888;
}
