.album-header {
  width: 100%;
  height: 10%;
  box-shadow: 0 2px 4px rgba(238, 238, 238, 0.5);
}

.album-body {
  width: 100%;
  height: 90%;
}

.album-detail {
  width: 100%;
  height: 20%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1vh 0;
}

.album-board-name {
  font-size: 5vw;
  font-weight: 700;
}

.album-board-category {
  background-color: #f1bdec;
  color: #FFFFFF;
  border-radius: 9999px;
  padding: 0.5vh 4vw;
}

.album-board-keywords-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.album-board-keyword {
  color: rgb(156, 155, 155);
  font-family: "Pretendard-Medium";
}

.album-image-swipe{
  width: 100%;
  height: 80%;
}

