.change-nick-name-header {
  width: 100%;
  height: 10%;
}

.change-nick-name-main-content {
  width: 100%;
  height: 80%;
}

.change-nick-name-footer {
  width: 100%;
  height: 10%;
}

/* ************************************** */

.nickname-input {
  border: 1px solid #f1bdec;
  border-radius: 10px;
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}

.nickname-confirm {
  border-radius: 10px;
  background-color: #f1bdec;
  padding: 4px;
}

.change-nick-name {
  width: 100%;
  height: 80%;
  overflow: hidden;
}