.mypage-header {
  width: 100%;
  height: 10%;
  box-shadow: 0 2px 4px rgba(238, 238, 238, 0.5);
}

.profile{
  width: auto;
  height: 34%;
  padding-top: 10%;
}

.icon-header {
  width: 120%;
}

.mypage-main-content {
  width: 100%;
  height: 80%;
}

.mypage-footer {
  width: 100%;
  height: 10%;
}

.nickname {
  margin-top: -4vh;
  text-align: center;
  color: black;
  font-family: "pretendard-bold";
  font-size: 4.3vw;
}

.email {
  padding-top: 0.5vh;
  text-align: center;
  color: #b0b0b0;
  font-size: 3.8vw;
  word-wrap: break-word;
}

.nick-change {
  text-align: center;
  color: black;
  font-size: 3vw;
}

.mypage-line{
  border: none;
  border-top: 1px solid rgba(238, 238, 238, 1);
  margin: 4.5vh 0 6vh;
}