.rectangular-button {
  cursor: pointer;
  width: 70%;
  height: 100%;
  background-color: var(--White, #fff);
  border: 2px solid var(--White, #fff);
  color: white;
  padding: 1.3vh;
  border-radius: 21px;
  text-align: center;
  margin: auto;
  margin-bottom: 3.8vw;
  font-family: "pretendard-bold";
}

.button-purple {
  background-color: #c3c7f4;
  color: white;
}

.button-reverse-purple {
  border-radius: 21px;
  border: 2px solid var(--Color3, #c3c7f4);
  background: var(--White, #fff);
  color: #c3c7f4;
}
