@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  /* 객관적 최상위 요소를 의미. 주로 HTML 문서에서는 <html> 태그를 의미. */
  --vh: 100%;
}

body {
  margin: 0;
}

.main-frame {
  /* 실질적 최상위 요소 */
  font-family: 'Pretendard-Regular';
  font-weight: 400; /* 100 ~ 900 설정 가능 */
  font-style: normal;
  width: 393px;
  height: calc(var(--vh, 1vh) * 100);
  margin: auto;
}

div {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

img {
  width: 100%;
  /* 이미지 아래 선 생기는거 방지 */
  display: block;
}