@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Black";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff")
    format("woff");
  font-weight: 900;
  font-style: normal;
}

:root {
  /* 객관적 최상위 요소를 의미. 주로 HTML 문서에서는 <html> 태그를 의미. */
  --vw: 100%;
  --vh: 100%;
}

body {
  margin: 0;
}

.main-frame {
  /* 실질적 최상위 요소 */
  font-family: "Pretendard-Regular";
  font-weight: 400; /* 100 ~ 900 설정 가능 */
  font-style: normal;
  width: calc(var(--vw, 1vw) * 100);
  height: calc(var(--vh, 1vh) * 100);
  margin: auto;
}

div {
  box-sizing: border-box;
}
ss table {
  border-collapse: collapse;
}

img {
  width: 100%;
  /* 이미지 아래 선 생기는거 방지 */
  display: block;
}

span {
  /* The display: inline property prevents width from having an effect.
  Try setting display to something other than inline. */
  display: block;
}

.bg-color1 {
  background-color: #f3e7fb;
}

.bg-color2 {
  background-color: #f1bdec;
}

.bg-color3 {
  background-color: #c3c7f4;
}

.color1 {
  color: #f3e7fb; 
}

.color2 {
  color: #f1bdec;
}

.color3 {
  color: #c3c7f4;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.b-full {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.flex-wrap {
  flex-wrap: wrap;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.text-align-center {
  text-align: center;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.margin-auto {
  margin: auto;
}
